
<app-item-list
  [items]="items$ | async" [editItemId]="editItemId$ | async"
  (editItem)="editItem($event)"
  (deleteItem)="deleteItem($event)"
  (saveItem)="saveItem($event)"
  (cancelItemEdit)="cancelItemEdit()"
  (formError)="onFormError($event)"
  (clearFormError)="doClearError()"
></app-item-list>

<div class="columns">
  <app-item-form class="column is-6"
                 (formError)="onFormError($event)"
                 (clearFormError)="doClearError()"
                 (newItem)="saveItem($event)"
  ></app-item-form>
</div>
