
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      NgRx Samples
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu"
       aria-expanded="false" data-target="appNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="appNavbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLinkActive="is-active" [routerLink]="['/withoutNgRxState']">
        Without NgRx
      </a>

      <a class="navbar-item" routerLinkActive="is-active" [routerLink]="['/withStore']">
        With NgRX Store
      </a>

      <a class="navbar-item" routerLinkActive="is-active" [routerLink]="['/withStoreAndEffects']">
        With NgRX Store and Effects
      </a>

    </div>
  </div>
</nav>
